[MESSAGES CONTROL]
disable=missing-function-docstring,
        missing-module-docstring,
        trailing-whitespace,
        trailing-newlines,
        missing-final-newline,
        missing-class-docstring

[FORMAT]
max-line-length=200
        
ignored-classes=SQLAlchemy,Registrant,scoped_session

# used for invalid attr names
good-names=id